<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Books</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <div class="card text-center">
      <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
          <li class="nav-item">
            <a class="nav-link active" href="#">Books List</a>
          </li>
        </ul>
      </div>
      <div class="card-body">
        <h5 class="card-title">This is the sample Books List</h5>
        <p class="card-text">
          The list of books will be shown based on the number of rows in the DB
        </p>
        <a href="/books" class="btn btn-primary">Go somewhere</a>
      </div>

      {% if data %} {% for item in data %}
      <div class="card-group">
        <div class="card bg-light mb-3 mx-3" style="max-width: 18rem">
          <img
            src="{{ item.logo }}"
            class="card-img-top"
            alt="Book Cover Image"
          />
          <div class="card-body">
            <h5 class="card-title">{{ item.title }}</h5>
            <h5 class="card-title">Author: {{ item.author }}</h5>
            <h5 class="card-title">Year: {{ item.year }}</h5>
            <p class="card-text">{{ item.description }}</p>
          </div>
        </div>


        <!-- <div class="card bg-light mb-3" style="max-width: 18rem">
          <img
            src="{{ item.logo }}"
            class="card-img-top"
            alt="Book Cover Image"
          />
          <div class="card-body">
            <h5 class="card-title">{{ item.title }}</h5>
            <h5 class="card-title">Author: {{ item.author }}</h5>
            <h5 class="card-title">Year: {{ item.year }}</h5>
            <p class="card-text">{{ item.description }}</p>
          </div>
        </div> -->
      {% endfor %} {% endif %}
    </div>
    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
